{% extends 'main/layout.html' %}
{% block title %}Страница про нас{% endblock %}
{% block content %}
    <div class="features">
        <h1>Страница про Такс</h1>
        <p>Описание

Гладкошёрстная стандартная такса чёрно-подпалого окраса

Длинношёрстная миниатюрная такса рыжего (соболиного) окраса

Жесткошёрстная стандартная такса т.н. кабаньего окраса
Крепкая, с массивным костяком собака, прочно стоящая на земле, с длинной вытянутой мордой, ушки длинные, мягкие, закругляются на концах. Спина мускулистая, крепкая, грудь объёмная, глубокая, с характерным «килем» впереди. Хвост, толстый и крепкий у основания, поставлен низко, обычно держится чуть ниже линии спины, при возбуждении торчит вверх, как антенна. Конечности короткие, толстые, с рельефной мускулатурой (особенно передние). Передние лапы шире и больше задних. Передвигается свободно, размашисто.

Стандартные — до 9 кг[2] — самая распространённая разновидность.
Карликовые — обхват грудной клетки от 30 до 35 см, масса взрослой собаки — от 3 до 6 кг
Кроличьи — обхват грудной клетки до 30 см, масса взрослой собаки — до 2,5 кг.
Окрас
У такс может быть одноцветный, двухцветный и пятнистый (мраморный и тигровый) окрас.

Одноцветные окрасы: рыжий, может быть примесь чёрных волос.
Двухцветные: чёрный или коричневый с подпалом.
Мраморный окрас: основной цвет чёрный с неравномерными серыми и бежевыми пятнами. Ни один цвет не преобладает.
Тигровый окрас: рыжий с темными тигровыми полосами.
Все вышеперечисленные окрасы разрешены у гладкошёрстных, длинношёрстных и жесткошёрстных такс.

У жесткошёрстных такс, также может быть окрас дикий кабан и бурый дикий кабан[4].

Классификация
Согласно классификации FCI, таксы бывают 3 видов по шерсти:

гладкошёрстные
длинношёрстные
жесткошёрстные.
Также выделяется 3 вида размеров. Собаки измеряются в соответствии с правилами не столько по весу, сколько по объёму (обхвату) грудной клетки:

стандартные таксы — от 35 см
карликовые таксы — 30—35 см
кроличьи таксы — до 30 см
Таким образом, существует 9 разновидностей такс.</p>
        <button class="btn btn-danger">Просто нажми</button>
    </div>
{% endblock %}